[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
runserver = "uvicorn main:app --reload"
start = "curl -X GET http://127.0.0.1:8000/start"
up = "curl -X POST -H \"Content-Type: application/json\" -d '{\"direction\": \"up\"}' http://127.0.0.1:8000/move"
down = "curl -X POST -H \"Content-Type: application/json\" -d '{\"direction\": \"down\"}' http://127.0.0.1:8000/move"
left = "curl -X POST -H \"Content-Type: application/json\" -d '{\"direction\": \"left\"}' http://127.0.0.1:8000/move"
right = "curl -X POST -H \"Content-Type: application/json\" -d '{\"direction\": \"right\"}' http://127.0.0.1:8000/move"
